@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:wght@300&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.seccion-principal {
  width: 100;
  height: 1000px;
  background-image: url("../assets/img/vogue-unsplash.avif");
  background-size: cover; }

.miFondo {
  background-image: url(../assets/img/vogue-unsplash.avif);
  width: 100;
  height: 1000px;
  background-size: cover; }

.fondoBolsa {
  background-image: url(../assets/img/vogue-unsplash.avif);
  background-size: cover;
  width: 100;
  height: 1000px; }

.seccion-principal {
  width: 100;
  height: 1000px;
  background-image: url("../assets/img/vogue-unsplash.avif");
  background-size: cover; }

.fondoNew {
  background-image: url(../assets/img/vogue-unsplash.avif);
  width: 100;
  height: 1000px;
  background-size: cover; }

main div h2 {
  font-size: 40px;
  color: black;
  font-style: oblique;
  text-align: center; }

main div h3 {
  color: rgba(112, 50, 50, 0.682);
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  min-height: 10vh; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main section {
    width: 100%; }
    main section div h2 {
      text-align: left;
      color: #9290f1;
      font-size: 30px;
      text-decoration: none; }
    main section div div h2 {
      text-align: end;
      text-decoration: none;
      font-size: 20px;
      color: #cf1b1b; }
  main section {
    max-width: 800px;
    margin: 0 auto; }
    main section div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main section div .imagenn {
        margin-bottom: 20px;
        text-align: center; }
        main section div .imagenn p strong {
          color: #765c8e;
          font-size: 15px; }

footer {
  background-color: #cbbdbdba;
  padding: 40px 0; }
  footer div {
    max-width: 1200px;
    margin: 0 auto; }
    footer div ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0; }
      footer div ul li h2 {
        font-size: 30px;
        text-decoration: underline; }
      footer div ul li h3 {
        font-size: 20px;
        text-decoration: none;
        color: rgba(19, 19, 22, 0.862); }
      footer div ul li .informacionfooter2 h2 {
        margin-top: 0;
        font-size: 30px;
        text-decoration: underline; }
      footer div ul li .informacionfooter2 h3 {
        margin: 0;
        padding: 10px 0;
        font-size: 20px;
        text-decoration: none;
        color: #181819; }
      footer div ul li .informacionfooter2 .informacionfooter3 h2 {
        margin-top: 0;
        font-size: 30px;
        text-decoration: underline; }
      footer div ul li .informacionfooter2 .informacionfooter3 h3 {
        margin: 0;
        padding: 10px 0;
        font-size: 20px;
        text-decoration: none;
        color: rgba(96, 96, 230, 0.5); }

main {
  padding-top: 15px;
  padding-bottom: 15px; }
  main section div {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
    main section div .imagenNew,
    main section div .imagenNewDos,
    main section div .imagenNewTres {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%; }
      main section div .imagenNew img,
      main section div .imagenNewDos img,
      main section div .imagenNewTres img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px; }
      main section div .imagenNew p,
      main section div .imagenNewDos p,
      main section div .imagenNewTres p {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin: 0; }

main {
  display: flex;
  justify-content: space-between; }
  main .imagenBolsa,
  main .imagen {
    width: 30%; }
    main .imagenBolsa img,
    main .imagen img {
      width: 100%;
      height: auto;
      border: 2px solid;
      color: violet; }
    main .imagenBolsa p,
    main .imagen p {
      margin: 0;
      text-align: center;
      color: violet; }
      main .imagenBolsa p strong,
      main .imagen p strong {
        color: violet;
        display: block;
        margin-top: 10px; }
  main .imagenBolsa img {
    border: 2px solid;
    color: violet; }
    main .imagenBolsa img p {
      color: violet; }
  main .imagenBolsa .imagen img {
    border: 2px solid;
    color: violet; }
  main .imagenBolsa .imagen p {
    color: violet; }

main {
  padding: 20px;
  margin: 310px; }
  main div {
    text-align: center; }
    main div form fieldset legend:first-of-type {
      content: "Usuario"; }
    main div form fieldset legend:last-of-type {
      content: "Contraseña"; }
    main div form fieldset label:first-of-type {
      content: "";
      font-weight: bold;
      margin-bottom: 0.5rem; }
    main div form fieldset label:last-of-type {
      content: "";
      font-weight: bold;
      margin-bottom: 0.5rem; }
    main div form fieldset input[type="text"], main div form fieldset input[type="password"] {
      display: block;
      margin-bottom: 1rem;
      padding: 0.5rem;
      width: 100%; }
    main div form input[type="submit"], main div form input[type="reset"] {
      background-color: #007bff;
      border-radius: 0.25rem;
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      margin-right: 0.5rem;
      padding: 0.5rem 1rem;
      text-align: center;
      text-decoration: none;
      transition-duration: 0.3s; }
      main div form input[type="submit"]:hover, main div form input[type="reset"]:hover {
        background-color: #0062cc; }

header nav H1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: pink;
  background-color: rgba(103, 96, 96, 0.508); }

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; }
  header nav ul li {
    margin-left: 2rem; }
    header nav ul li:first-child {
      margin-left: 0; }
    header nav ul li .iniciarSesion a {
      color: #4557f7;
      text-decoration: none; }
    header nav ul li .ayuda a {
      color: #4557f7;
      text-decoration: none; }
    header nav ul li .Bolsa de compra a {
      color: #4557f7;
      text-decoration: none; }
    header nav ul li a {
      color: #4557f7;
      text-decoration: none; }
      header nav ul li a:hover {
        text-decoration: underline; }
