main {
    display: flex;
    justify-content: space-between;
    .imagenBolsa,
    .imagen {
    width: 30%;
    img {
        width: 100%;
        height: auto;
        border: 2px solid;
        color: violet;
    }
    p {
        margin: 0;
        text-align: center;
        color: violet;
        strong {
        color: violet;
        display: block;
        margin-top: 10px;
        }
    }
    }
    .imagenBolsa {
    img {
        border: 2px solid;
        color: violet;
    p {
        color: violet;
    }
    }
    .imagen {
    img {
        border: 2px solid;
        color: violet;
    }
    p {
        color: violet;
    }
    }
    }
}