main {
    background-repeat: no-repeat;
    padding-bottom: 100px;
    height: 100vh;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    .agregar{
        color: rgb(179, 90, 90);
        text-align: left;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 20px;
        section {
            div {
                margin: 0;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: nowrap;
                    .imagenNew{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 30%;
                                margin-bottom: 20px;
                                img {
                                    max-width: 100%;
                                    height: auto;
                                    }
                                p {
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                            }
                            .imagenNewDos{
                                @extend .imagenNew;
                                img {
                                    max-width: 100%;
                                    height: auto;
                                    }
                                p {
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                            }
                            .imagenNewTres{
                                @extend .imagenNew;
                                img {
                                    max-width: 100%;
                                    height: auto;
                                    }
                                p {
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                            }
                        }
                }
            }
    }
