@media (min-width: 1440px) {
    .miFondo{
        width: 100vw;
        height: 100vh;
        background-image: url(../assets/img/vogue-unsplash.avif);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
