
@media screen and (max-width: 768px){
    body {
    font-size: 16px;
    }
    }
    footer.pieDePagina {
        width: 100%;
        padding-bottom: 5px;
        padding-top: 5px;
        .informacionfooter2{
            h2{
                font-size: 20px;
            }
            h3{
                font-size: 10px;
            }
        }
            .informacionfooter3 {
                h2{
                    font-size: 20px;
                }
                h3{
                    font-size: 10px;
                }
            }
        }

        .informacionAbajo{
            padding-top: 50px;
        }

